# Copyright (c) 2024 Mechlovin'
# SPDX-License-Identifier: MIT

if BOARD_BLEU60

config ZMK_KEYBOARD_NAME
    default "bleu60"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_BLEU60
