# Copyright (c) 2024 Mechlovin'
# SPDX-License-Identifier: MIT

if BOARD_ATREUS62

config ZMK_KEYBOARD_NAME
    default "atreus62"

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

config BT_CTLR
    default BT

config ZMK_STUDIO
    default y

endif # BOARD_ATREUS62